.my-projects-page {
	animation: FADE-IN 1s;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 5em 0;
}

.my-projects-header {
	text-align: center;
	color: white;
}

.my-projects-header h1 {
	padding-bottom: 1em;
}

@media (min-width: 750px) {
	.projects-container {
		width: 80%;
		margin: auto;
	}
}

@media (min-width: 1024px) {
	.my-projects-header {
		padding-bottom: 1em;
	}

	.my-projects-header h1 {
		font-size: 4em;
	}

	.projects-container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 1000px;
	}
}
