.menu-button {
	width: 100%;
	text-align: right;
	padding-right: 0.3em;
	font-size: 50px;
	background: none;
	cursor: pointer;
	outline: none;
	border: none;
}

.menu-button span:hover {
	background-color: blue;
	color: white;
}

@media (min-width: 460px) {
	.menu-button {
		display: none;
	}
}
