.home-screen {
	background: white;
	background-size: cover;
	min-height: 100vh;
	width: 100vw;
	animation: FADE-IN 1s;
}

.name {
	font-size: 40px;
	position: relative;
	animation: SLIDE-LEFT 1s;
}

.title {
	font-style: italic;
	position: relative;
	animation: SLIDE-UP 1s;
}

.hero {
	padding-top: 200px;
	text-align: center;
}

@keyframes FADE-IN {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes GROW-TEXT {
	0% {
		font-size: 10px;
	}
	100% {
		font-size: 40px;
	}
}

@keyframes SLIDE-LEFT {
	0% {
		left: 100px;
	}
	100% {
		left: 0px;
	}
}
@keyframes SLIDE-UP {
	0% {
		top: 100px;
	}
	100% {
		top: 0px;
	}
}
