.home-screen {
	background-size: cover;
	min-height: 100vh;
	max-width: 100vw;
	animation: FADE-IN 1s;
}

.name,
.title {
	display: inline-block;
	color: white;
	position: relative;
}

.name {
	font-size: 40px;
	animation: SLIDE-LEFT 1s;
}

.title {
	font-style: italic;
	animation: SLIDE-DOWN 1s;
	display: block;
}

.hero {
	padding-top: 200px;
	text-align: center;
}

@keyframes FADE-IN {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes SLIDE-LEFT {
	0% {
		left: 50px;
	}
	100% {
		left: 0px;
	}
}

@keyframes SLIDE-DOWN {
	0% {
		top: 100px;
	}
	100% {
		top: 0px;
	}
}
@media (min-width: 750px) {
	.name {
		font-size: 60px;
	}
}

@media (min-width: 1024px) {
	.hero {
		padding-top: 100px;
	}
}
