.about-me-header {
	width: 95%;
	text-align: center;
	margin: 0 auto;
}

.wrapper {
	width: 60%;
	margin: 0 auto;
}

h3 {
	text-align: center;
	padding-top: 15px;
}

p {
	display: block;
	text-align: right;
}
