.about-me-page {
	background: lightcoral;
}

.about-me-header {
	width: 95%;
	text-align: center;
	margin: 0 auto;
}

.wrapper {
	width: 60%;
	margin: 0 auto;
}

.section {
	background-color: rgba(61, 150, 150, 0.2);
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 5px;
}

h3 {
	text-align: center;
	padding-top: 15px;
}

h4 {
	color: rgb(63, 63, 243);
}

p {
	display: block;
	text-align: right;
}
