.contact-me-page {
	background: url("../Images/wall-with-white-wooden-planks-3652972.jpg");
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

h1 {
	text-align: center;
}

form {
	width: 80%;
	margin: auto;
	font-size: 40px;
}

form div {
	padding-top: 10px;
}

input {
	font-size: 30px;
	width: 100%;
	padding: 10px;
}
textarea {
	font-size: 30px;
	width: 100%;
	height: 200px;
}
