.noPath {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.noPath-row {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  max-width: 660px;
  margin: auto;
}

.noPath button {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  background-color: white;
  color: #28208c;
  font-weight: 900;
  border: none;
}
