.main-nav {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	max-width: 0;
	transition: all 0.5s ease-out 0s;
	position: fixed;
	right: 0;
	background-color: white;
	width: 65%;
	height: 100%;
	z-index: 1;
}

.main-nav ul {
	list-style: none;
	padding-left: 0;
}

.nav-internal-links {
	flex: 1;
}

.nav-external-links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 1em;
}

.show {
	max-width: 500px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.main-nav li {
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
}

.main-nav a {
	font-size: 1.15em;
	width: 100%;
	font-weight: bold;
	color: #222;
	text-transform: uppercase;
	display: block;
	padding: 1em;
	transition: 0.2s;
	text-decoration: none;
	overflow: hidden;
}
.main-nav a:hover,
.main-nav .active {
	color: #fff;
	background: #3b80d1;
}

.mainNav .active {
	background-color: blue;
	color: white;
}

@media (min-width: 460px) {
	.main-nav {
		position: static;
		display: block;
		min-width: 100%;
		background-color: transparent;
	}

	.main-nav a {
		color: white;
		text-shadow: 2px 2px rgba(0, 0, 0, 01);
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
	}

	.main-nav a:hover {
		background-color: rgba(250, 250, 250, 0.8);
	}

	.main-nav .active {
		background-color: rgba(250, 250, 250, 0.6);
	}

	.nav-internal-links {
		display: flex;
		flex-direction: row;
		width: 80%;
		margin: auto;
	}

	.nav-internal-links li {
		flex: 1;
		text-align: center;
	}
}
