.about-me-page {
	background: white;
}

.about-me-header {
	width: 95%;
	text-align: center;
	margin: 0 auto 1.5em;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.section {
	background-color: rgba(61, 150, 150, 0.2);
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 5px;
}

.info {
	margin-bottom: 1em;
	background-color: rgba(61, 150, 150, 0.2);
	padding: 1em;
	border-radius: 3px;
}

h3 {
	text-align: center;
	margin-bottom: 0.5em;
}

h4 {
	color: rgb(63, 63, 243);
}

p {
	display: block;
	text-align: right;
}
